#forge_couple_t2i, #forge_couple_i2i {
    user-select: none;
}

.fc_map_btns>div {
    justify-content: center;
    margin: 0 0 2px 0;
    gap: 1em;
}

.fc_map_btns>div>button {
    max-height: 2.2em;
}


.fc_enable>label {
    height: 100%;
}

.fc_adv {
    flex-direction: row;
    justify-content: center;
}

.fc_adv>div {
    gap: 2em;
    width: 100%;
}

.fc_preview {
    margin: 0.25em 1em;
    border-radius: 0.5em;
}

.fc_adv .gradio-image {
    width: 512px;
    height: 512px;
    margin: auto;
}

.fc_adv .gradio-image>img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.fc_mapping .table-wrap {
    max-height: 200px;
    overflow-y: scroll !important;
}

.fc_bbox {
    position: absolute;
    opacity: 0.8;
    pointer-events: none;
}

.prompt-hint {
    position: fixed;
    z-index: 100;
    background-color: var(--input-background-fill);
    color: var(--body-text-color);
    border: var(--input-border-width) solid var(--input-border-color);
    border-radius: var(--input-radius);
    padding: 0.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    display: none;
}
