#forge_couple_t2i, #forge_couple_i2i {
    user-select: none;
}


.fc_enable>label {
    height: 100%;
}

.fc_adv {
    flex-direction: row;
    justify-content: center;
}

.fc_adv>div {
    gap: 2em;
    width: 100%;
}

.fc_preview {
    margin: 0.25em 1em;
    border-radius: 0.5em;
}

.fc_adv .gradio-image {
    width: 100%;
}

.fc_adv .gradio-image>img {
    margin: auto;
    width: auto;
}

.fc_adv .gradio-image>img.drag {
    cursor: crosshair;
}

.fc_mapping .table-wrap {
    max-height: 200px;
    overflow-y: scroll !important;
}
